/css-flags-paris
/css-flags-parisrb
/css-flags-bestofweb
/grunt-bbl-meetic
/grunt-bbl-octo
/jekyll-algolia-jekyllconf2016
/jpg-octo-bof
/marvel-parisjs
/marvel-humantalks
/memory-humantalks-2015
/memory-meetic-bbl
/memory-octo
/memory-octo-colob
/vim-humantalks
/vim-syntastic
/webperfs
/webperfs-bbl-meetic
/webperfs-humantalks
/webperfs-takeofftalks
/webperfs-wildcodeschool
